body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, red , yellow); /* Standard syntax */
    justify-content: center;
    align-items: ;
}
h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    /* letter-spacing: .5em; */
    width: 100%;
}
input{
    border: solid 1px #CCC;
    border-radius: 6px;
    height: 21px;
    width: 250px;
    font-size: 15px;
    color: #999;
    padding-left: 5px;
    vertical-align: bottom
}
#btn{
   
    border: solid 1px #CCC;
    height: 25px;
    width: 115px;
    color:black;
    cursor: pointer;
}
